
.m-ipw {
    width: 180px;
    cursor: text;
    background: #fff;
    outline: 0;
    position: relative;
    padding: 9px 0;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 2px
}

.m-ipw .it,.m-ipw .it b {
    height: 7px;
    display: block
}

.m-ipw .it {
    width: 29px;
    float: left;
    padding: 4px 0;
    border-left: 1px solid #ccc
}

.m-ipw .it:first-child {
    border-color: transparent
}

.m-ipw .it.active {
    background: url(../images/pw_border.gif) 50% 50% no-repeat
}

.m-ipw .it b {
    margin: 0 auto;
    width: 7px;
    overflow: hidden;
    visibility: hidden;
    background: url(../images/pw_dian.png) 50% 50% no-repeat
}

.m-ipw span {
    position: absolute;
    display: block;
    left: 0;
    top: -1px;
    height: 32px;
    border: 1px solid rgba(82,168,236,.8);
    border: 1px solid #0ff\9;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.75),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.m-ipw .ipt {
    margin-left: -9999px
}